body {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #000;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover {
  color: #000;
}

.user-greeting {
  color: #2f3a4a;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.menu-logo {
  height: 24px;
  width: auto;
  display: inline-block;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #d9ebff;
}

.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: #c2dcff;
}

#footer {
  bottom: 0px;
  width: 100%;
  height: 2.5rem; /* Footer height */
  text-align: center;
  position: absolute;
}
